:root {
    --primary: #2993a7;
  }
  
  .header-btn {
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    background-color: var(--primary);
    min-width: 120px;
    margin-right: 1rem;
  }
  
  .header-btn:hover {
    padding: 6px 18px;
    transition: all 0.5s ease-out;
    background-color: transparent;
    color: black;
    border-radius: 4px;
    border: 2px solid var(--primary);
  }